<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>demoServlet.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <display-name>eKrishak</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ReceiptDownload</display-name>
    <servlet-name>ReceiptDownload</servlet-name>
    <servlet-class>farmer.ReceiptDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiptDownload</servlet-name>
    <url-pattern>/ReceiptDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiptGenerate</display-name>
    <servlet-name>ReceiptGenerate</servlet-name>
    <servlet-class>ReceiptGenerate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiptGenerate</servlet-name>
    <url-pattern>/ReceiptGenerate</url-pattern>
  </servlet-mapping>
</web-app>